.welcome {
  color: #fff;
  text-align: center;
  padding-bottom: 80px;
}
.welcome h3 {
  padding-bottom: 30px;
  color: var(--colorW);
  font-size: 1.5rem;
}
.welcome .para {
  /* line-height: 2rem; */
  font-size: 16px;
}
